.profileContainerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 50px;
  // gap: 40px;
  margin: auto;
  border: 2px solid primary;
  margin-top: 10px;

  .profilePageContainer {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    width: 100%;
    height: 100%;
    margin: auto;

    .imageContainer {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .profileAvatar {
        height: 100%;
        width: 100%;
        display: flex;
        object-fit: cover;
      }
    }

    .editButton {
      margin-top: 16px;
      border: 1px solid var(--main-color);
      width: 100%;
      padding: 6px;
      cursor: pointer;
      border-radius: 5px;
    }

    .nameContainer {
      padding-top: 20px;
      margin: auto;
      font-size: 1.5rem;
    }

    .bioContainer {
      display: flex;
      margin-top: 16px;
      line-height: 1.5;
      font-size: 0.8 rem;
    }
  }

  // FAVOURITES SECTION ////////////////////////////
  .favouritesContainer {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-size: 1rem;
    flex-wrap: wrap;

    .allCards {
      display: flex;
      flex-direction: row;
      gap: 24px;

      .favouriteBlogCard {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 10px;

        .blogImageUrl {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.2s ease-in-out;
          border-radius: inherit;
          cursor: pointer;
        }

        &:hover .blogImageUrl {
          transform: translateY(-5px) scale(0.75);
        }

        &:hover .infoSection {
          z-index: 2;
        }

        .infoSection {
          position: absolute;
          inset: 0;
          display: flex;
          z-index: -1;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0px 40px;

          h1 {
            font-size: 1.8rem;
            text-transform: capitalize;
          }

          .blogLink {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px 12px;
            background-color: var(--main-color);
            border-radius: 5px;
            font-size: 1rem;
            text-transform: uppercase;
            // padding-bottom: 20px;
            // letter-spacing: 1.5px;
            cursor: pointer;
            color: #564c43;
            padding-top: 10px;
          }
        }

        .deleteButton {
          position: absolute;
          right: 12.5%;
          top: 1%;
          cursor: pointer;

          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
