@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Domine:wght@400;500;600;700&family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Domine:wght@500&family=Lato&family=Nunito&family=Open+Sans&family=Roboto+Slab&family=Work+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Domine:wght@500&family=Lato:wght@300&family=Nunito&family=Open+Sans&family=Playfair+Display&family=Roboto+Slab&family=Work+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@daisyui;
@tailwind utilities;

h1 {
  font-family: 'Domine', sans-serif;
}

h2 {
  font-family: 'DancingScript', cursive;
}

body {
  font-family: 'Playfair Display', sans-serif;
}

nav {
  font-family: 'Birthstone', sans-serif;
}

/* // @import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Domine:wght@400;500;600;700&family=Questrial&display=swap');

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// :root {
//   --body-text: 'Questrial', sans-serif;
//   --title-text: 'Domine', sans-serif;
//   --logo-text: 'Birthstone', sans-serif;

//   --bg-color: #000000;
//   --main-color: #b4b2b2;
//   --primary-text-color: #ffffff;
//   --secondary-text-color: #38525c;
//   --accent-color: #ebfbfe;
// }

// body {
//   background-color: var(--bg-color);
//   color: whitesmoke;
// }
// button:active {
//   transform: scale(1.05);
//   transition: transform 0.5s ease-in-out;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// }

// li {
//   list-style: none;
//   position: relative;
//   text-decoration: none;
// }

// a {
//   text-decoration: none;
//   color: #ffffff;
// } */
